@page
@model EcoEnergyRazorProject.Pages.ConsumsAiguaModel
@{
	ViewData["title"] = "Consums d'aigua";
}
<h2>Informe Detallat:</h2>
<table class="table">
	<thead>
	<th>Any</th>
	<th>Codi Comarca</th>
	<th>Comarca</th>
	<th>Poblacio</th>
	<th>Domèstic Xarxa</th>
	<th>Activitats econòmiques i fonts pròpies</th>
	<th>Total</th>
	<th>Consum domèstic per càpita</th>
	</thead>
	<tbody>
		@if (Model.HasRecords)
		{
			@foreach (var consum in Model.ConsumsAigua)
			{
				<tr>
					<td>@consum.Any</td>
					<td>@consum.CodiComarca</td>
					<td>@consum.Comarca</td>
					<td>@consum.Poblacio</td>
					<td>@consum.DomesticXarxa</td>
					<td>@consum.ActivitatsFonts</td>
					<td>@consum.Total</td>
					<td>@consum.Consum</td>
					<td>
						<form method="post">
							<button type="submit" asp-page-handler="edit" asp-route-id="@consum.Id">E</button>
						</form>
					</td>
					<td>
						<form method="post" asp-handler="Delete">
							<button type="submit" asp-page-handler="delete" asp-route-id="@consum.Id">
								X
							</button>
						</form>
					</td>
				</tr>
			}
		}
		else
		{
		<th colspan="8">No hi ha registres creats</th>
		}
	</tbody>
</table>
<p>Numero de registres: @Model.ConsumsAigua.Count</p>
<form method="post">
	<div class="row row-cols-4">
		<a asp-page="/InsertarConsumAigua" class="btn btn-primary m-1">Afegir Consum d'Aigua</a>
		<button type="submit" asp-page-handler="Seed" class="btn btn-primary m-1">Afegir Consums per Defecte</button>
		<button type="submit" asp-page-handler="Erase" class="btn btn-primary m-1">Borrar tots els registres</button>
	</div>
</form>