@page
@model EcoEnergyRazorProject.Pages.ConsumsAiguaModel
@{
	ViewData["title"] = "Consums d'aigua";
}
<h2>Informe Detallat:</h2>
<table class="table">
	<thead>
	<th>Any</th>
	<th>Codi Comarca</th>
	<th>Comarca</th>
	<th>Poblacio</th>
	<th>Domèstic Xarxa</th>
	<th>Activitats econòmiques i fonts pròpies</th>
	<th>Total</th>
	<th>Consum domèstic per càpita</th>
	</thead>
	<tbody>
		@if (Model.FileExist && Model.HasRecords)
		{
			@foreach (var consum in Model.ConsumsAigua)
			{
				<tr>
					<td>@consum.Any</td>
					<td>@consum.CodiComarca</td>
					<td>@consum.Comarca</td>
					<td>@consum.Poblacio</td>
					<td>@consum.DomesticXarxa</td>
					<td>@consum.ActivitatsFonts</td>
					<td>@consum.Total</td>
					<td>@consum.Consum</td>
				</tr>
			}
		}
		else
		{
		<th colspan="8">No hi ha registres creats</th>
		}
	</tbody>
</table>
<h2>10 Municipis amb més consum d'aigua</h2>
<table class="table">
	<thead>
		<th>Any</th>
		<th>Codi Comarca</th>
		<th>Comarca</th>
		<th>Poblacio</th>
		<th>Domèstic Xarxa</th>
		<th>Activitats econòmiques i fonts pròpies</th>
		<th>Total</th>
		<th>Consum domèstic per càpita</th>
	</thead>
	<tbody>
		@if (Model.FileExist && Model.HasRecords)
		{
			@foreach (var consum in Model.MajorsConsums)
			{
				<tr>
					<td>@consum.Any</td>
					<td>@consum.CodiComarca</td>
					<td>@consum.Comarca</td>
					<td>@consum.Poblacio</td>
					<td>@consum.DomesticXarxa</td>
					<td>@consum.ActivitatsFonts</td>
					<td>@consum.Total</td>
					<td>@consum.Consum</td>
				</tr>
			}
		}
		else
		{
		<th colspan="8">No hi ha registres creats</th>
		}
	</tbody>
</table>
<h2>Mitjanes Comarques</h2>
<table class="table">
	<thead>
	<th>Comarca</th>
	<th>Mitjana</th>
	</thead>
	<tbody>
		@if (Model.FileExist && Model.HasRecords)
		{
			@foreach (var mitjana in Model.MitjanesConsums)
			{
				<tr>
					<td>@mitjana.Comarca</td>
					<td>@mitjana.Mitjana</td>
				</tr>
			}
		}
		else
		{
		<th colspan="2">No hi ha registres creats</th>
		}
	</tbody>
</table>
<h2>Consums Sospitosos</h2>
<table class="table">
	<thead>
	<th>Any</th>
	<th>Codi Comarca</th>
	<th>Comarca</th>
	<th>Poblacio</th>
	<th>Domèstic Xarxa</th>
	<th>Activitats econòmiques i fonts pròpies</th>
	<th>Total</th>
	<th>Consum domèstic per càpita</th>
	</thead>
	<tbody>
		@if (Model.FileExist && Model.HasRecords && Model.ConsumsSospitosos.Count > 0)
		{
			@foreach (var consum in Model.ConsumsSospitosos)
			{
				<tr>
					<td>@consum.Any</td>
					<td>@consum.CodiComarca</td>
					<td>@consum.Comarca</td>
					<td>@consum.Poblacio</td>
					<td>@consum.DomesticXarxa</td>
					<td>@consum.ActivitatsFonts</td>
					<td>@consum.Total</td>
					<td>@consum.Consum</td>
				</tr>
			}
		}
		else
		{
		<th colspan="8">No hi ha registres sospitosos</th>
		}
	</tbody>
</table>
<h2>Comarques creixents</h2>
<table class="table">
	<thead>
	<th>Comarca</th>
	</thead>
	<tbody>
		@if (Model.FileExist && Model.HasRecords)
		{
			@foreach (var comarca in Model.LlocsAugment)
			{
				<tr>
					<td>@comarca.Nom</td>
				</tr>
			}
		}
		else
		{
		<th>No hi ha registres creats</th>
		}
	</tbody>
</table>
<p>Numero de registres: @Model.ConsumsAigua.Count()</p>
<a asp-page="/InsertarConsumAigua" class="btn btn-primary">Afegir Consum d'Aigua</a>