@page
@model EcoEnergyRazorProject.Pages.IndicadorsEnergeticsModel
@{
	ViewData["title"] = "Indicadors Energetics";
}
<h2>Informe Detallat</h2>
<table class="table">
	<thead>
        <th>Data</th>
        <th>PBEE_Hidroelectr</th>
        <th>PBEE_Carbo</th>
        <th>PBEE_GasNat</th>
        <th>PBEE_FuelOil</th>
        <th>PBEE_CiclComb</th>
        <th>PBEE_Nuclear</th>
        <th>CDEEBC_ProdBruta</th>
        <th>CDEEBC_ConsumAux</th>
        <th>CDEEBC_ProdNeta</th>
        <th>CDEEBC_ConsumBomb</th>
        <th>CDEEBC_ProdDisp</th>
        <th>CDEEBC_TotVendesXarxaCentral</th>
        <th>CDEEBC_SaldoIntercanviElectr</th>
        <th>CDEEBC_DemandaElectr</th>
        <th>CDEEBC_TotalEBCMercatRegulat</th>
        <th>CDEEBC_TotalEBCMercatLliure</th>
        <th>FEE_Industria</th>
        <th>FEE_Terciari</th>
        <th>FEE_Domestic</th>
        <th>FEE_Primari</th>
        <th>FEE_Energetic</th>
        <th>FEEI_ConsObrPub</th>
        <th>FEEI_SiderFoneria</th>
        <th>FEEI_Metalurgia</th>
        <th>FEEI_IndusVidre</th>
        <th>FEEI_CimentsCalGuix</th>
        <th>FEEI_AltresMatConstr</th>
        <th>FEEI_QuimPetroquim</th>
        <th>FEEI_ConstrMedTrans</th>
        <th>FEEI_RestaTransforMetal</th>
        <th>FEEI_AlimBegudaTabac</th>
        <th>FEEI_TextilConfecCuirCalçat</th>
        <th>FEEI_PastaPaperCartro</th>
        <th>FEEI_AltresIndus</th>
        <th>DGGN_PuntFrontEnagas</th>
        <th>DGGN_DistrAlimGNL</th>
        <th>DGGN_ConsumGNCentrTerm</th>
        <th>CCAC_GasolinaAuto</th>
        <th>CCAC_GasoilA</th>
	</thead>
	<tbody>
		@if (Model.FileExist && Model.HasRecords)
		{
			@foreach (var indicador in Model.IndicadorsEnergetics)
			{
				<tr>
                    <td>@indicador.Data.Month/@indicador.Data.Year</td>
                    <td>@indicador.PBEE_Hidroelectr</td>
                    <td>@indicador.PBEE_Carbo</td>
                    <td>@indicador.PBEE_GasNat</td>
                    <td>@indicador.PBEE_FuelOil</td>
                    <td>@indicador.PBEE_CiclComb</td>
                    <td>@indicador.PBEE_Nuclear</td>
                    <td>@indicador.CDEEBC_ProdBruta</td>
                    <td>@indicador.CDEEBC_ConsumAux</td>
                    <td>@indicador.CDEEBC_ProdNeta</td>
                    <td>@indicador.CDEEBC_ConsumBomb</td>
                    <td>@indicador.CDEEBC_ProdDisp</td>
                    <td>@indicador.CDEEBC_TotVendesXarxaCentral</td>
                    <td>@indicador.CDEEBC_SaldoIntercanviElectr</td>
                    <td>@indicador.CDEEBC_DemandaElectr</td>
                    <td>@indicador.CDEEBC_TotalEBCMercatRegulat %</td>
                    <td>@indicador.CDEEBC_TotalEBCMercatLliure %</td>
                    <td>@indicador.FEE_Industria</td>
                    <td>@indicador.FEE_Terciari</td>
                    <td>@indicador.FEE_Domestic</td>
                    <td>@indicador.FEE_Primari</td>
                    <td>@indicador.FEE_Energetic</td>
                    <td>@indicador.FEEI_ConsObrPub</td>
                    <td>@indicador.FEEI_SiderFoneria</td>
                    <td>@indicador.FEEI_Metalurgia</td>
                    <td>@indicador.FEEI_IndusVidre</td>
                    <td>@indicador.FEEI_CimentsCalGuix</td>
                    <td>@indicador.FEEI_AltresMatConstr</td>
                    <td>@indicador.FEEI_QuimPetroquim</td>
                    <td>@indicador.FEEI_ConstrMedTrans</td>
                    <td>@indicador.FEEI_RestaTransforMetal</td>
                    <td>@indicador.FEEI_AlimBegudaTabac</td>
                    <td>@indicador.FEEI_TextilConfecCuirCalçat</td>
                    <td>@indicador.FEEI_PastaPaperCartro</td>
                    <td>@indicador.FEEI_AltresIndus</td>
                    <td>@indicador.DGGN_PuntFrontEnagas</td>
                    <td>@indicador.DGGN_DistrAlimGNL</td>
                    <td>@indicador.DGGN_ConsumGNCentrTerm</td>
                    <td>@indicador.CCAC_GasolinaAuto</td>
                    <td>@indicador.CCAC_GasoilA
				</tr>
			}
		}
		else
		{
		<th colspan="40">No hi ha registres creats</th>
		}
	</tbody>
</table>
<h2>Registres amb producció neta superior a 3000</h2>
<table class="table">
    <thead>
    <th>Data</th>
    <th>PBEE_Hidroelectr</th>
    <th>PBEE_Carbo</th>
    <th>PBEE_GasNat</th>
    <th>PBEE_FuelOil</th>
    <th>PBEE_CiclComb</th>
    <th>PBEE_Nuclear</th>
    <th>CDEEBC_ProdBruta</th>
    <th>CDEEBC_ConsumAux</th>
    <th>CDEEBC_ProdNeta</th>
    <th>CDEEBC_ConsumBomb</th>
    <th>CDEEBC_ProdDisp</th>
    <th>CDEEBC_TotVendesXarxaCentral</th>
    <th>CDEEBC_SaldoIntercanviElectr</th>
    <th>CDEEBC_DemandaElectr</th>
    <th>CDEEBC_TotalEBCMercatRegulat</th>
    <th>CDEEBC_TotalEBCMercatLliure</th>
    <th>FEE_Industria</th>
    <th>FEE_Terciari</th>
    <th>FEE_Domestic</th>
    <th>FEE_Primari</th>
    <th>FEE_Energetic</th>
    <th>FEEI_ConsObrPub</th>
    <th>FEEI_SiderFoneria</th>
    <th>FEEI_Metalurgia</th>
    <th>FEEI_IndusVidre</th>
    <th>FEEI_CimentsCalGuix</th>
    <th>FEEI_AltresMatConstr</th>
    <th>FEEI_QuimPetroquim</th>
    <th>FEEI_ConstrMedTrans</th>
    <th>FEEI_RestaTransforMetal</th>
    <th>FEEI_AlimBegudaTabac</th>
    <th>FEEI_TextilConfecCuirCalçat</th>
    <th>FEEI_PastaPaperCartro</th>
    <th>FEEI_AltresIndus</th>
    <th>DGGN_PuntFrontEnagas</th>
    <th>DGGN_DistrAlimGNL</th>
    <th>DGGN_ConsumGNCentrTerm</th>
    <th>CCAC_GasolinaAuto</th>
    <th>CCAC_GasoilA</th>
    </thead>
    <tbody>
        @if (Model.FileExist && Model.HasRecords && Model.ProdNetaSuperior.Count > 0)
        {
            @foreach (var indicador in Model.ProdNetaSuperior)
            {
                <tr>
                    <td>@indicador.Data.Month/@indicador.Data.Year</td>
                    <td>@indicador.PBEE_Hidroelectr</td>
                    <td>@indicador.PBEE_Carbo</td>
                    <td>@indicador.PBEE_GasNat</td>
                    <td>@indicador.PBEE_FuelOil</td>
                    <td>@indicador.PBEE_CiclComb</td>
                    <td>@indicador.PBEE_Nuclear</td>
                    <td>@indicador.CDEEBC_ProdBruta</td>
                    <td>@indicador.CDEEBC_ConsumAux</td>
                    <td>@indicador.CDEEBC_ProdNeta</td>
                    <td>@indicador.CDEEBC_ConsumBomb</td>
                    <td>@indicador.CDEEBC_ProdDisp</td>
                    <td>@indicador.CDEEBC_TotVendesXarxaCentral</td>
                    <td>@indicador.CDEEBC_SaldoIntercanviElectr</td>
                    <td>@indicador.CDEEBC_DemandaElectr</td>
                    <td>@indicador.CDEEBC_TotalEBCMercatRegulat %</td>
                    <td>@indicador.CDEEBC_TotalEBCMercatLliure %</td>
                    <td>@indicador.FEE_Industria</td>
                    <td>@indicador.FEE_Terciari</td>
                    <td>@indicador.FEE_Domestic</td>
                    <td>@indicador.FEE_Primari</td>
                    <td>@indicador.FEE_Energetic</td>
                    <td>@indicador.FEEI_ConsObrPub</td>
                    <td>@indicador.FEEI_SiderFoneria</td>
                    <td>@indicador.FEEI_Metalurgia</td>
                    <td>@indicador.FEEI_IndusVidre</td>
                    <td>@indicador.FEEI_CimentsCalGuix</td>
                    <td>@indicador.FEEI_AltresMatConstr</td>
                    <td>@indicador.FEEI_QuimPetroquim</td>
                    <td>@indicador.FEEI_ConstrMedTrans</td>
                    <td>@indicador.FEEI_RestaTransforMetal</td>
                    <td>@indicador.FEEI_AlimBegudaTabac</td>
                    <td>@indicador.FEEI_TextilConfecCuirCalçat</td>
                    <td>@indicador.FEEI_PastaPaperCartro</td>
                    <td>@indicador.FEEI_AltresIndus</td>
                    <td>@indicador.DGGN_PuntFrontEnagas</td>
                    <td>@indicador.DGGN_DistrAlimGNL</td>
                    <td>@indicador.DGGN_ConsumGNCentrTerm</td>
                    <td>@indicador.CCAC_GasolinaAuto</td>
                    <td>@indicador.CCAC_GasoilA
                </tr>
            }
        }
        else
        {
        <th colspan="40">No hi ha registres dins del rang</th>
        }
    </tbody>
</table>
<h2>Registres amb consum de gasolina superior a 100</h2>
<table class="table">
    <thead>
    <th>Data</th>
    <th>PBEE_Hidroelectr</th>
    <th>PBEE_Carbo</th>
    <th>PBEE_GasNat</th>
    <th>PBEE_FuelOil</th>
    <th>PBEE_CiclComb</th>
    <th>PBEE_Nuclear</th>
    <th>CDEEBC_ProdBruta</th>
    <th>CDEEBC_ConsumAux</th>
    <th>CDEEBC_ProdNeta</th>
    <th>CDEEBC_ConsumBomb</th>
    <th>CDEEBC_ProdDisp</th>
    <th>CDEEBC_TotVendesXarxaCentral</th>
    <th>CDEEBC_SaldoIntercanviElectr</th>
    <th>CDEEBC_DemandaElectr</th>
    <th>CDEEBC_TotalEBCMercatRegulat</th>
    <th>CDEEBC_TotalEBCMercatLliure</th>
    <th>FEE_Industria</th>
    <th>FEE_Terciari</th>
    <th>FEE_Domestic</th>
    <th>FEE_Primari</th>
    <th>FEE_Energetic</th>
    <th>FEEI_ConsObrPub</th>
    <th>FEEI_SiderFoneria</th>
    <th>FEEI_Metalurgia</th>
    <th>FEEI_IndusVidre</th>
    <th>FEEI_CimentsCalGuix</th>
    <th>FEEI_AltresMatConstr</th>
    <th>FEEI_QuimPetroquim</th>
    <th>FEEI_ConstrMedTrans</th>
    <th>FEEI_RestaTransforMetal</th>
    <th>FEEI_AlimBegudaTabac</th>
    <th>FEEI_TextilConfecCuirCalçat</th>
    <th>FEEI_PastaPaperCartro</th>
    <th>FEEI_AltresIndus</th>
    <th>DGGN_PuntFrontEnagas</th>
    <th>DGGN_DistrAlimGNL</th>
    <th>DGGN_ConsumGNCentrTerm</th>
    <th>CCAC_GasolinaAuto</th>
    <th>CCAC_GasoilA</th>
    </thead>
    <tbody>
        @if (Model.FileExist && Model.HasRecords && Model.ConsumGasolinaSuperior.Count > 0)
        {
            @foreach (var indicador in Model.ConsumGasolinaSuperior)
            {
                <tr>
                    <td>@indicador.Data.Month/@indicador.Data.Year</td>
                    <td>@indicador.PBEE_Hidroelectr</td>
                    <td>@indicador.PBEE_Carbo</td>
                    <td>@indicador.PBEE_GasNat</td>
                    <td>@indicador.PBEE_FuelOil</td>
                    <td>@indicador.PBEE_CiclComb</td>
                    <td>@indicador.PBEE_Nuclear</td>
                    <td>@indicador.CDEEBC_ProdBruta</td>
                    <td>@indicador.CDEEBC_ConsumAux</td>
                    <td>@indicador.CDEEBC_ProdNeta</td>
                    <td>@indicador.CDEEBC_ConsumBomb</td>
                    <td>@indicador.CDEEBC_ProdDisp</td>
                    <td>@indicador.CDEEBC_TotVendesXarxaCentral</td>
                    <td>@indicador.CDEEBC_SaldoIntercanviElectr</td>
                    <td>@indicador.CDEEBC_DemandaElectr</td>
                    <td>@indicador.CDEEBC_TotalEBCMercatRegulat %</td>
                    <td>@indicador.CDEEBC_TotalEBCMercatLliure %</td>
                    <td>@indicador.FEE_Industria</td>
                    <td>@indicador.FEE_Terciari</td>
                    <td>@indicador.FEE_Domestic</td>
                    <td>@indicador.FEE_Primari</td>
                    <td>@indicador.FEE_Energetic</td>
                    <td>@indicador.FEEI_ConsObrPub</td>
                    <td>@indicador.FEEI_SiderFoneria</td>
                    <td>@indicador.FEEI_Metalurgia</td>
                    <td>@indicador.FEEI_IndusVidre</td>
                    <td>@indicador.FEEI_CimentsCalGuix</td>
                    <td>@indicador.FEEI_AltresMatConstr</td>
                    <td>@indicador.FEEI_QuimPetroquim</td>
                    <td>@indicador.FEEI_ConstrMedTrans</td>
                    <td>@indicador.FEEI_RestaTransforMetal</td>
                    <td>@indicador.FEEI_AlimBegudaTabac</td>
                    <td>@indicador.FEEI_TextilConfecCuirCalçat</td>
                    <td>@indicador.FEEI_PastaPaperCartro</td>
                    <td>@indicador.FEEI_AltresIndus</td>
                    <td>@indicador.DGGN_PuntFrontEnagas</td>
                    <td>@indicador.DGGN_DistrAlimGNL</td>
                    <td>@indicador.DGGN_ConsumGNCentrTerm</td>
                    <td>@indicador.CCAC_GasolinaAuto</td>
                    <td>@indicador.CCAC_GasoilA
                </tr>
            }
        }
        else
        {
        <th colspan="40">No hi ha registres dins del rang</th>
        }
    </tbody>
</table>
<h2>Mitjanes de Produccio Neta de cada any</h2>
<table class="table">
    <thead>
    <th>Any</th>
    <th>Producció Neta Mitjana</th>
    </thead>
    <tbody>
        @if (Model.FileExist && Model.HasRecords && Model.MitjanesIndicadors.Count > 0)
        {
            @foreach (var mitjana in Model.MitjanesIndicadors)
            {
                <tr>
                    <td>@mitjana.Any</td>
					<td>@mitjana.ProduccioNetaMitjana</td>
                </tr>
            }
        }
        else
        {
        <th colspan="2">No hi ha registres creats</th>
        }
    </tbody>
</table>
<h2>Registres amb demanda elèctrica superior a 4000 i producció disponible inferior a 300</h2>
<table class="table">
    <thead>
    <th>Data</th>
    <th>PBEE_Hidroelectr</th>
    <th>PBEE_Carbo</th>
    <th>PBEE_GasNat</th>
    <th>PBEE_FuelOil</th>
    <th>PBEE_CiclComb</th>
    <th>PBEE_Nuclear</th>
    <th>CDEEBC_ProdBruta</th>
    <th>CDEEBC_ConsumAux</th>
    <th>CDEEBC_ProdNeta</th>
    <th>CDEEBC_ConsumBomb</th>
    <th>CDEEBC_ProdDisp</th>
    <th>CDEEBC_TotVendesXarxaCentral</th>
    <th>CDEEBC_SaldoIntercanviElectr</th>
    <th>CDEEBC_DemandaElectr</th>
    <th>CDEEBC_TotalEBCMercatRegulat</th>
    <th>CDEEBC_TotalEBCMercatLliure</th>
    <th>FEE_Industria</th>
    <th>FEE_Terciari</th>
    <th>FEE_Domestic</th>
    <th>FEE_Primari</th>
    <th>FEE_Energetic</th>
    <th>FEEI_ConsObrPub</th>
    <th>FEEI_SiderFoneria</th>
    <th>FEEI_Metalurgia</th>
    <th>FEEI_IndusVidre</th>
    <th>FEEI_CimentsCalGuix</th>
    <th>FEEI_AltresMatConstr</th>
    <th>FEEI_QuimPetroquim</th>
    <th>FEEI_ConstrMedTrans</th>
    <th>FEEI_RestaTransforMetal</th>
    <th>FEEI_AlimBegudaTabac</th>
    <th>FEEI_TextilConfecCuirCalçat</th>
    <th>FEEI_PastaPaperCartro</th>
    <th>FEEI_AltresIndus</th>
    <th>DGGN_PuntFrontEnagas</th>
    <th>DGGN_DistrAlimGNL</th>
    <th>DGGN_ConsumGNCentrTerm</th>
    <th>CCAC_GasolinaAuto</th>
    <th>CCAC_GasoilA</th>
    </thead>
    <tbody>
        @if (Model.FileExist && Model.HasRecords && Model.AltaDemandaBaixaProduccio.Count > 0)
        {
            @foreach (var indicador in Model.AltaDemandaBaixaProduccio)
            {
                <tr>
                    <td>@indicador.Data.Month/@indicador.Data.Year</td>
                    <td>@indicador.PBEE_Hidroelectr</td>
                    <td>@indicador.PBEE_Carbo</td>
                    <td>@indicador.PBEE_GasNat</td>
                    <td>@indicador.PBEE_FuelOil</td>
                    <td>@indicador.PBEE_CiclComb</td>
                    <td>@indicador.PBEE_Nuclear</td>
                    <td>@indicador.CDEEBC_ProdBruta</td>
                    <td>@indicador.CDEEBC_ConsumAux</td>
                    <td>@indicador.CDEEBC_ProdNeta</td>
                    <td>@indicador.CDEEBC_ConsumBomb</td>
                    <td>@indicador.CDEEBC_ProdDisp</td>
                    <td>@indicador.CDEEBC_TotVendesXarxaCentral</td>
                    <td>@indicador.CDEEBC_SaldoIntercanviElectr</td>
                    <td>@indicador.CDEEBC_DemandaElectr</td>
                    <td>@indicador.CDEEBC_TotalEBCMercatRegulat %</td>
                    <td>@indicador.CDEEBC_TotalEBCMercatLliure %</td>
                    <td>@indicador.FEE_Industria</td>
                    <td>@indicador.FEE_Terciari</td>
                    <td>@indicador.FEE_Domestic</td>
                    <td>@indicador.FEE_Primari</td>
                    <td>@indicador.FEE_Energetic</td>
                    <td>@indicador.FEEI_ConsObrPub</td>
                    <td>@indicador.FEEI_SiderFoneria</td>
                    <td>@indicador.FEEI_Metalurgia</td>
                    <td>@indicador.FEEI_IndusVidre</td>
                    <td>@indicador.FEEI_CimentsCalGuix</td>
                    <td>@indicador.FEEI_AltresMatConstr</td>
                    <td>@indicador.FEEI_QuimPetroquim</td>
                    <td>@indicador.FEEI_ConstrMedTrans</td>
                    <td>@indicador.FEEI_RestaTransforMetal</td>
                    <td>@indicador.FEEI_AlimBegudaTabac</td>
                    <td>@indicador.FEEI_TextilConfecCuirCalçat</td>
                    <td>@indicador.FEEI_PastaPaperCartro</td>
                    <td>@indicador.FEEI_AltresIndus</td>
                    <td>@indicador.DGGN_PuntFrontEnagas</td>
                    <td>@indicador.DGGN_DistrAlimGNL</td>
                    <td>@indicador.DGGN_ConsumGNCentrTerm</td>
                    <td>@indicador.CCAC_GasolinaAuto</td>
                    <td>@indicador.CCAC_GasoilA
                </tr>
            }
        }
        else
        {
        <th colspan="40">No hi ha registres dins del rang</th>
        }
    </tbody>
</table>
<p>Numero de registres: @Model.IndicadorsEnergetics.Count()</p>
<a asp-page="/InsertarIndicadorEnergetic" class="btn btn-primary">Afegir Indicador Energetic</a>