@page
@model EcoEnergyRazorProject.Pages.SimulacionsModel
@{
	ViewData["Title"] = "Llistat Simulacions";
}
<h2>Llistat Simulacions</h2>
<table class="table">
    <thead>
		<th>Tipus</th>
		<th>Data</th>
		<th>Entrada d'energia</th>
		<th>Rati</th>
		<th>Energia</th>
		<th>Cost</th>
		<th>Preu</th>
		<th>Cost Total</th>
		<th>Preu Total</th>
	</thead>
	<tbody>
		@if(Model.HasRecords){
			@foreach (var simulacio in Model.LlistaSimulacions)
			{
				<tr>
					<td>@simulacio.Tipus</td>
					<td>@simulacio.Data</td>
					<td>@simulacio.EntradaEnergia</td>
					<td>@simulacio.Rati</td>
					<td>@simulacio.Energia</td>
					<td>@simulacio.Cost</td>
					<td>@simulacio.Preu</td>
					<td>@simulacio.CostTotal</td>
					<td>@simulacio.PreuTotal</td>
					<td>
						<form method="post">
							<button type="submit" asp-page-handler="edit" asp-route-id="@simulacio.Id">E</button>
						</form>	
					</td>
					<td>
						<form method="post" asp-handler="Delete">
							<button type="submit" asp-page-handler="delete" asp-route-id="@simulacio.Id">
								X
							</button>
						</form>
					</td>
				</tr>
			}
		}else{
			<th colspan="9">No hi ha simulcions creades</th>
		}
	</tbody>
</table>
<p>Numero de simulacións: @Model.LlistaSimulacions.Count()</p>
<a asp-page="/AfegirSimulacio" class="btn btn-primary">Afegir Simulació</a>
